<h1>User</h1>
<p><%= @user.email %></p>

<h2>My Articles</h2>
<li><%= link_to "My Articles", user_articles_path(@user) %></li>

<h2>New Article</h2>
<li><%= link_to "Create Article", new_user_article_path(@user) %></li>
